@import url(https://db.onlinewebfonts.com/c/0201813274259c3d4f78760d19270bab?family=DIN+Next+LT+W04+Medium); 
@import url('https://fonts.googleapis.com/css2?family=REM:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@800&display=swap');

.em{
    display: flex;
    align-items: center;
    justify-content: right;
    transform: translate(0vw,-21vw);
    width: 20vw;
    height: 2vw;
    background: rgb(253, 46, 46);
    position: fixed;
    border-top-right-radius: .3vw;
    border-bottom-right-radius: .3vw;
    z-index: 1;
}
    
#em1{
    display: flex;      
    align-items: center;
    justify-content: center;
    transform: translate(-39%, -22vw);
    font-size: 4.5vw;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#em2{
    font-family: "DIN Next LT W04 Medium"; 
    color: rgb(255, 255, 255);
    display: flex;  
    align-items: center;
    justify-content: right;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: .7vw;        
    width: 20vw ;
    height: 3vw;   
    padding-right: 1vw;
    transform: translate(5%);   
}

#em3{
    font-family: "DIN Next LT W04 Medium"; 
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: .7vw;    
    transform: translate(0%); 
    transition: .4s ease-out;     
    width: .5vw;
    height: 3vw;
    padding-right: 1vw;
}

.em:hover #em3{
    transition: .4 ease-out;
    transform: translate(30%);
}

#tri1{
    color: #f7efea;
    font-size: 3vw;
    transform: translate(-.26%,-8.7vw);
}

.out{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0%, -10vw);
}

#out1{
    display: flex;
    font-size: .8vw;
    font-family: "DIN Next LT W04 Medium"; 
    transform: translate(3.8vw, -2.4vw);
    color: rgb(255, 61, 61);
}

#out2{
    display: flex;
    font-size: 6vw;
    font-family: 'Anton', sans-serif;
    transform: translate(-00%, 1.5vw);
    color: rgb(2, 12, 46);
}

#out3{
    display: flex;
    font-size: 1vw;
    letter-spacing: .2vw;
    font-family: "DIN Next LT W04 Medium"; 
    transform: translate(-12vw,6vw);
    color: rgb(110, 110, 110);
}

.font{
    font-family: "DIN Next LT W04 Medium"; 
    width: 35vw;
    font-size: 1vw;
    color: rgb(88, 88, 88);
}

.font2{
    color: rgb(2, 12, 46);
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 1.5vw;
}

.font3{
    color: rgb(2, 12, 46);
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 1.1vw;
}

.font4{
    font-family: "DIN Next LT W04 Medium"; 
    width: 30vw;
    font-size: 1vw;
    color: rgb(88, 88, 88);
}

#about4{
    display: flex;
    transform: translate(32vw, -6vw);
}

#about5{
    transform: translate(32vw, -5vw);
}

#about6{
    transform: translate(32vw, -4vw);
}

#about7{
    transform: translate(32vw, -3vw);
}

#about8{
    transform: translate(32vw,-2vw);
}

.contain{
    transform: translate(34vw, -1vw);
}

.contain2{
    transform: translate(32vw, -1vw);   
}

#choose{
    transform: translate(32vw, -1.4vw);
}

#pos{
    transform: translate(32vw, -1vw);
}

#pos1{
    transform: translate(32vw, -1vw);

}

#pos2{
    transform: translate(32vw, -1vw);
}

#pos3{
    transform: translate(32vw, -1vw);
}