@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

header{
    position: fixed;
    z-index: 99;
    max-height: 4rem;
    min-width: 100%;
    background-color: rgb(22, 22, 22);
    color: white;
}

grey{
    color: grey;    
}

bal{
    color: black;
}   


.red{
    border-radius: 1rem;
    height: .3rem;
    background-color: rgb(253, 46, 46);
}

a{
    text-decoration: none;
    color: white;
}

.container{
    display: flex;
    align-items: center;    
    max-height: 4rem;
}

.flex-box1{
    display: flex;
    font-size: small;
    margin: .5rem;
    letter-spacing: .05cm ;
    font-family: 'Kanit', sans-serif;
}

.flex-box2{
    display: flex;
    justify-content: right;
    font-size: small;
    margin: .5rem;
    letter-spacing: .05cm ;
    font-family: 'Kanit', sans-serif;
}

#img1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;    
    padding-left: .2rem;
}

#item1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    min-width: 6rem;
}

#item2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    min-width: 6rem;
}

#item3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    min-width: 7rem;
}

#item4{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    min-width: 8rem;
}

#item5{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative  ;
    height: 2rem;
    min-width: 8rem;
    background-color: rgb(253, 46, 46);
    border-radius: .5rem;   
}

.flex_blank{
    display: flex;
    color: greenyellow;
    width: 100%;
}


#item1:hover{
    background-color: rgb(53, 53, 53);
    border-radius: .5rem;
}

#item2:hover{
    background-color: rgb(53, 53, 53);
    border-radius: .5rem;
}

#item3:hover{
    background-color: rgb(53, 53, 53);
    border-radius: .5rem;
}

#item4:hover{
    background-color: rgb(53, 53, 53);
    border-radius: .5rem;
}

#item5:hover{
    background-color: rgb(255, 91, 91);
    border-radius: .5rem;
}

ul#menu {
    list-style: none;
    padding: 0;
    margin: .01rem;
    display: none; 
    position: absolute;
    transform: translate(22%,-5%);
    min-width: 11rem;
    background-color: rgb(53, 53, 53);
    top: 3rem;

}

#item2:hover ul#menu{
    display: block;
}

ul#menu li {
    padding: 1rem;
    text-align: left;
}

ul#menu li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    min-height: 2rem;
}

ul#menu li a:hover {
    background-color: rgb(87, 87, 87);
    border-radius: .2rem;
}

ul#menu2 {
    list-style: none;
    padding: 0;
    margin: .01rem;
    display: none; 
    position: absolute;
    width: 11rem;
    transform: translate(18%,-5%);
    background-color: rgb(53, 53, 53);
    top: 3rem;
}

#item3:hover ul#menu2{
    display: block;
}

ul#menu2 li {
    padding: 1rem;
    text-align: left;
}

ul#menu2 li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    min-height: 2rem;
}

ul#menu2 li a:hover {
    background-color: rgb(87, 87, 87);
    border-radius: .2rem;
}

ul#menu3 {
    list-style: none;
    padding: 0;
    margin: .01rem;
    display: none; 
    position: absolute;
    width: 11rem;
    transform: translate(12%,-5%);
    background-color: rgb(53, 53, 53);
    top: 3rem;      
}   

#item4:hover ul#menu3{
    display: block; 
}

ul#menu3 li {
    padding: 1rem;
    text-align: left;
}

ul#menu3 li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    min-height: 2rem;
}

ul#menu3 li a:hover {
    background-color: rgb(87, 87, 87);
    border-radius: .2rem;
}


